<form action="" method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                            <div class="card-body">

                                
                                <!-- sample modal content -->
                                <div id="addContract" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                
                            <h4 class="modal-title mt-0" id="myModalLabel">Adding Contract for {{account.name}}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>


                                            <div class="modal-body">

                                                 

                         <div class="form-group" style="background-color:lightgray">
                             <dt>Instruction:</dt> to add a lead, please select an Account first.
                            If The Account is not listed in the dropdown menu <a href="{% url 'accounts'  %}">Add New Account</a>
                        </div>

                        
            {{ContractFormTemplate.account}}

            <hr>
            <div class="form-group"><label for="userName">Title</label>            {{ContractFormTemplate.title}}</div>
            <div class="form-group"><label for="userName">Service</label>          {{ContractFormTemplate.service}}</div> 
            <div class="form-group"><label for="userName">Date Start</label>       {{ContractFormTemplate.date_start}}</div>  
            <div class="form-group"><label for="userName">Date End</label>         {{ContractFormTemplate.date_end}}</div>  
            <div class="form-group"><label for="userName">Amount</label>           {{ContractFormTemplate.amount}}</div>
            <div class="form-group"><label for="userName">Currency</label>         {{ContractFormTemplate.currency}}</div>
                                                                                   {{ContractFormTemplate.contract_add_by}} 
                                                                                   {{ContractFormTemplate.rate}}      
            <div class="form-group"><label for="userName">Status</label>           {{ContractFormTemplate.status}}</div> 
            <div class="form-group"><label for="userName">Planned Invoices</label> {{ContractFormTemplate.planned_invoices}}</div> 
             </div>                   
            <div class="modal-footer">
              <button type="button" href="" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary waves-effect waves-light">Create</button>
            </div>

                           
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <!--  Modal content for the above example -->
                        
 </form>